body {
    margin: 0;
    font-family: sans-serif;
}

/* head */

a {
    text-decoration: none;
    color: #e5e7eb;
}

.head {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
}
/* middle skills */

/* middle quotes */

/* middle signs */

/* bottom */
.bottom {
    background-color: #1f2937;
    text-align: center;
    padding: 20px;
}