@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&family=Inconsolata:wght@200&family=Montserrat:ital,wght@1,200&display=swap');

body {
    margin: 0;
    font-family: 'Coda', sans-serif;
}

/* head */

a {
    text-decoration: none;
    color: #e5e7eb;
}

.head {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    padding: 0 10%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0 4em 0;
}

.container h3 {
    margin: 0;
    font-family: 'Coda', sans-serif;
}

.pages {
    display: flex;
    gap: 16px;
}

.title-div {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    padding-bottom: 64px;
    min-width: 700px;
}

.logo-img {
    width: 300px;
    height: auto;
    align-items: center;
    border: #1f2937 3px;
    border-radius: 1px;
}

.title {
    width: 400px;
}

h1 {
    margin: 0;
    font-size: 48px;
    color: #f9faf8;
    font-family: Roboto, sans-serif;
}

.title p {
    font-size: 18px;
    color: rgb(220, 42, 45);
    margin-top: 0;
    margin-bottom: 8px;
}

button {
    background-color: rgb(227, 113, 31);
    padding: 4px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

/* middle skills */

.mid-skill {
    text-align: center;
}

.mid-skill h2 {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}

.skill-chart {
    display: flex;
    justify-content: center;
    gap: 64px;
    padding-bottom: 30px;
}

.skill-item {
    
}

.skill-item img {
    width: 275px;
    height: auto;
    align-items: center;
    border: solid black 1px;
    border-radius: 10px;
}

.skill-text {
    font-size: 14px;
}

/* middle quotes */

.mid-quote {
    background-color: #e5e7eb;
    padding: 64px 10%;
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote p {
    margin: 0;
}

.quote p:first-child {
    font-size: 32px;
    color: #1f2937;
    font-family: cursive;
    font-weight: 100;
}

.quote p:last-child {
    font-size: 20px;
    font-weight: 900;
    align-self: flex-end;
    padding-right: 50px;
}
/* middle signs */

.blue-box {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    color: white;
    margin: 64px 10%;
    padding: 32px 8%;
    justify-content: space-between;
    border-radius: 15px;
}

.blue-box-text h3, .blue-box-text p {
    margin: 0;
}

.blue-box button {
    border: 1px solid white;
}

/* bottom */
.bottom {
    background-color: #1f2937;
    text-align: center;
    padding: 20px;
}